<div class="container mt-4">
  <div class="row">
    <div class="col-md-5 col-lg-4">
      <div class="text-center">
        <h1>Clientes Devedores</h1>
      </div>
      <div
        *ngIf="costumers$ | async as costumers; else loadingCustomers"
        class="debts"
      >
        <cd7-customers-card
          *ngIf="costumers.length > 0"
          [costumers]="costumers"
          (selectedCustomer)="selectCustomer($event)"
          (deleteDebts)="deleteDebtsFromCustomers($event)"
        ></cd7-customers-card>
        <ng-container *ngIf="costumers.length === 0">
          <div class="text-center">
            <h3>Nenhum cliente endividado por aqui</h3>
          </div>
        </ng-container>
      </div>
      <ng-template #loadingCustomers>
        <ngx-skeleton-loader
          [count]="5"
          [theme]="{
            height: '50px'
          }"
        ></ngx-skeleton-loader>
      </ng-template>
    </div>
    <div class="col-md-7 col-lg-8 custom">
      <ng-container *ngIf="isSelectedCustomer && !isLoadingCustomers">
        <h2>Todas as Dívidas de #{{ selectedCustomers.name }}</h2>
        <ng-container *ngFor="let debt of debts">
          <cd7-debts-from-customers
            [debt]="debt"
            (selectedDebt)="selectDebt($event)"
          ></cd7-debts-from-customers>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="isSelectedCustomer && isLoadingCustomers">
        <ngx-skeleton-loader
          [count]="5"
          [theme]="{
            height: '50px'
          }"
        ></ngx-skeleton-loader>
      </ng-container>

      <ng-container *ngIf="showForm">
        <cd7-debts-form
          [customers]="sourceCustomers"
          [debt]="selectedDebt"
          (emitterUpdate)="emitterUpdate($event)"
          (emitterCreate)="emitterCreate($event)"
          (emitterRemove)="emitterRemove($event)"
        >
        </cd7-debts-form>
      </ng-container>
    </div>
  </div>
</div>

<div class="footer">
  <div (click)="newDebt()" class="custom-button">
    <a href="#">NOVO</a>
  </div>
</div>
