// .footer {
//     position: fixed;
//     bottom: 15;
//     background-color: red;
// }

.custom-button {
  color: #fff;
  border: solid 1px black;
  padding: 10px 25px;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  a {
    outline: none;
    text-decoration: none;
    color: black;
  }
  &:hover {
    background-color: #b8b8b8;
  }
}

.footer {
  margin-top: 50px;;
  float: right;
  margin-right: 25px;
}

.custom {
  border: solid 2px #bdbdbd;
  padding: 15px;
}